// loop through the brand colors and generate classes
@each $group, $shades in $brand-colors {
  @each $shade, $color in $shades {
    .bg-#{$group}-#{$shade} {
      background-color: color($group, $shade);
    }
  }
}
// loop through the brand colors and generate classes
@each $group, $shades in $brand-colors {
  @each $shade, $color in $shades {
    .text-#{$group}-#{$shade} {
      color: color($group, $shade);
    }
  }
}
// loop through the brand colors and generate classes
@each $group, $shades in $brand-colors {
  @each $shade, $color in $shades {
    .border-#{$group}-#{$shade} {
      border-color: color($group, $shade);
    }
  }
}

.bg-light2 {
  background: #f7f9ff;
}
.bg-primary2 {
  background: #0059bb;
}
